In [1]:
import os
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
maximum_eps = 75

# Analyse
Analyse all validate data

## Change Position (Comp 1)

In [3]:
path_file = 'final_results/result_change_position.csv'
data_position = pd.read_csv(path_file, sep=';')
data_position = data_position[data_position['episode'] < maximum_eps]

In [4]:
data_position.describe()

,episode,steps,time_before_moviment,time_moviment,last_code_grab_overlap,last_code_arm_collision
count,1125.000000,1125.000000,1125.000000,1125.000000,1125.0,1125.0
mean,37.000000,2.949333,0.289957,1.267025,10000.0,10000.0
std,21.658339,3.021293,0.557510,1.300174,0.0,0.0
min,0.000000,2.000000,0.102305,0.000498,10000.0,10000.0
25%,18.000000,2.000000,0.113285,0.725621,10000.0,10000.0
50%,37.000000,2.000000,0.119273,0.935224,10000.0,10000.0
75%,56.000000,2.000000,0.130253,1.094919,10000.0,10000.0
max,74.000000,26.000000,4.373688,9.999995,10000.0,10000.0

In [5]:
data_position[data_position['last_code_grab_overlap'] != 10000.0]

Empty DataFrame
Columns: [episode, steps, time_before_moviment, time_moviment, direction, last_code_grab_overlap, last_code_arm_collision, last_drone_collision]
Index: []

In [6]:
data_position[data_position['direction']=='up'].describe()

,episode,steps,time_before_moviment,time_moviment,last_code_grab_overlap,last_code_arm_collision
count,525.000000,525.000000,525.000000,525.000000,525.0,525.0
mean,37.000000,3.491429,0.389916,1.081447,10000.0,10000.0
std,21.669358,3.764846,0.701579,0.405358,0.0,0.0
min,0.000000,2.000000,0.102305,0.000498,10000.0,10000.0
25%,18.000000,2.000000,0.114781,0.949196,10000.0,10000.0
50%,37.000000,2.000000,0.122268,1.047509,10000.0,10000.0
75%,56.000000,3.000000,0.288950,1.127358,10000.0,10000.0
max,74.000000,26.000000,4.373688,3.247329,10000.0,10000.0

In [7]:
data_position[data_position['direction']=='down'].describe()

,episode,steps,time_before_moviment,time_moviment,last_code_grab_overlap,last_code_arm_collision
count,525.000000,525.000000,525.000000,525.000000,525.0,525.0
mean,37.000000,2.489524,0.205597,0.792062,10000.0,10000.0
std,21.669358,2.088314,0.374947,0.174747,0.0,0.0
min,0.000000,2.000000,0.104800,0.000499,10000.0,10000.0
25%,18.000000,2.000000,0.112287,0.710650,10000.0,10000.0
50%,37.000000,2.000000,0.117277,0.726121,10000.0,10000.0
75%,56.000000,2.000000,0.124264,0.832917,10000.0,10000.0
max,74.000000,17.000000,2.662939,1.744684,10000.0,10000.0

In [8]:
data_position[data_position['direction']=='left'].describe()

,episode,steps,time_before_moviment,time_moviment,last_code_grab_overlap,last_code_arm_collision
count,75.000000,75.000000,75.000000,75.000000,75.0,75.0
mean,37.000000,2.373333,0.180769,5.890811,10000.0,10000.0
std,21.794495,1.865572,0.326662,0.885285,0.0,0.0
min,0.000000,2.000000,0.105798,2.899488,10000.0,10000.0
25%,18.500000,2.000000,0.111039,5.640280,10000.0,10000.0
50%,37.000000,2.000000,0.115779,5.685195,10000.0,10000.0
75%,55.500000,2.000000,0.121768,6.031786,10000.0,10000.0
max,74.000000,15.000000,2.396945,9.999995,10000.0,10000.0

## Episode

In [9]:
path_file = 'final_results/result_episode.csv'
data_episode = pd.read_csv(path_file, sep=';')
data_episode = data_episode[data_episode['episode'] < maximum_eps]

In [10]:
data_episode.describe()

,episode,NR_collected,NG_collected,OR_collected,OG_collected,NR_available,NG_available,OR_available,OG_available
count,75.000000,75.000000,75.000000,75.000000,75.0,75.000000,75.000000,75.000000,75.000000
mean,37.000000,35.920000,0.013333,0.080000,0.0,36.680000,23.560000,36.826667,24.480000
std,21.794495,4.516516,0.115470,0.318781,0.0,4.716733,4.130441,5.338218,4.935695
min,0.000000,28.000000,0.000000,0.000000,0.0,27.000000,11.000000,25.000000,15.000000
25%,18.500000,33.000000,0.000000,0.000000,0.0,33.000000,20.000000,33.000000,21.000000
50%,37.000000,36.000000,0.000000,0.000000,0.0,36.000000,24.000000,37.000000,24.000000
75%,55.500000,39.500000,0.000000,0.000000,0.0,40.000000,26.000000,40.500000,27.500000
max,74.000000,46.000000,1.000000,2.000000,0.0,47.000000,32.000000,48.000000,39.000000

In [11]:
data_episode.sum()

episode         2775
NR_collected    2694
NG_collected       1
OR_collected       6
OG_collected       0
NR_available    2751
NG_available    1767
OR_available    2762
OG_available    1836
dtype: int64

In [12]:
# Collector accuracy
print(f'NR: {data_episode.sum()[1] / data_episode.sum()[5] * 100}')
print(f'NR: {(1 - data_episode.sum()[2] / data_episode.sum()[6]) * 100}')
print(f'NR: {(1 - data_episode.sum()[3] / data_episode.sum()[7]) * 100}')
print(f'NR: {(1 - data_episode.sum()[4] / data_episode.sum()[8]) * 100}')

NR: 97.92802617230099
NR: 99.94340690435767
NR: 99.7827661115134
NR: 100.0

## Collected

In [13]:
path_file = 'final_results/result_collected.csv'
data_collected = pd.read_csv(path_file, sep=';')
data_collected = data_collected[data_collected['episode'] < maximum_eps]

In [14]:
data_collected

,episode,amount_collected,steps,steps_try_grab_apple,time,mean_time,mean_fps,time_deposit,total_time,last_code_grab_overlap,last_code_arm_collision,last_drone_collision,last_action,last_state
0,0,1,32,4,6.828522,0.213391,4.686226,18.426978,25.255501,21008,10000,False,"(0.09527596831321716, -0.010627252981066704, -...","{'bbox': [0.4481101632118225, 0.57724565929836..."
1,0,2,35,5,6.048505,0.172814,5.786554,15.555936,21.604440,21004,10000,False,"(0.08565770834684372, -0.006285351701080799, -...","{'bbox': [0.4503900110721588, 0.57603311538696..."
2,0,3,34,6,5.959175,0.175270,5.705488,16.483672,22.442846,21010,10000,False,"(0.08767896145582199, -0.005748189520090818, -...","{'bbox': [0.4524989724159241, 0.56800635655721..."
3,0,4,34,5,6.558535,0.192898,5.184085,19.320281,25.878816,21003,10000,False,"(0.0791749358177185, -0.013907723128795624, -0...","{'bbox': [0.4515649974346161, 0.56930515501234..."
4,0,5,28,24,5.122763,0.182956,5.465800,17.685888,22.808650,21014,10000,False,"(0.08067572116851807, -0.011564359068870544, -...","{'bbox': [0.4549274146556854, 0.57188632753160..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2945,74,37,35,4,5.955680,0.170162,5.876743,15.786997,21.742677,21035,10000,False,"(0.07699333876371384, -0.00981639139354229, -0...","{'bbox': [0.4491339325904846, 0.57773155636257..."
2946,74,38,31,4,5.402233,0.174266,5.738367,15.213087,20.615320,21036,10000,False,"(0.08446335047483444, -0.00620791083201766, -0...","{'bbox': [0.4491567611694336, 0.56857787238227..."
2947,74,39,28,4,4.698071,0.167788,5.959894,16.543559,21.241629,21037,10000,False,"(0.07180285453796387, 0.004512346349656582, -0...","{'bbox': [0.4499829113483429, 0.57550832960340..."
2948,74,40,33,10,7.107990,0.215394,4.642663,19.282853,26.390843,21019,10000,False,"(0.0813058465719223, -0.013089127838611603, -0...","{'bbox': [0.44916069507598877, 0.5762621031867..."
2949,74,41,33,5,5.722624,0.173413,5.766586,16.986716,22.709340,21033,10002,False,"(0.07176077365875244, -0.010310480371117592, -...","{'bbox': [0.45099541544914246, 0.5666795836554..."

In [15]:
data_collected.describe()

,episode,amount_collected,steps,steps_try_grab_apple,time,mean_time,mean_fps,time_deposit,total_time,last_code_grab_overlap,last_code_arm_collision
count,2950.000000,2950.000000,2950.000000,2950.000000,2950.000000,2950.000000,2950.000000,2950.000000,2950.000000,2950.000000,2950.000000
mean,37.104068,18.909153,30.016610,6.539322,5.320001,0.177010,5.676843,16.466708,21.786708,20179.906102,10000.308475
std,22.045954,10.784168,4.592155,5.201629,0.937371,0.012864,0.379359,4.818889,5.155030,2887.104744,0.708733
min,0.000000,0.000000,4.000000,0.000000,0.530491,0.132623,3.693024,1.532587,2.107993,10000.000000,10000.000000
25%,18.000000,10.000000,27.000000,4.000000,4.725894,0.168261,5.410804,15.960916,21.296026,21018.000000,10000.000000
50%,37.000000,19.000000,30.000000,6.000000,5.296684,0.171629,5.826523,17.419394,22.575094,21044.000000,10000.000000
75%,57.000000,28.000000,34.000000,7.000000,5.887685,0.184815,5.943152,18.749990,24.392142,21072.000000,10000.000000
max,74.000000,47.000000,43.000000,42.000000,9.063274,0.270781,7.540183,23.361102,30.733090,23030.000000,10003.000000

In [16]:
data_collected_filtered = data_collected[data_collected['mean_fps'] > 5]

In [17]:
data_collected_filtered.describe()

,episode,amount_collected,steps,steps_try_grab_apple,time,mean_time,mean_fps,time_deposit,total_time,last_code_grab_overlap,last_code_arm_collision
count,2755.000000,2755.000000,2755.000000,2755.000000,2755.000000,2755.000000,2755.000000,2755.000000,2755.000000,2755.000000,2755.000000
mean,36.249728,18.755354,30.022868,6.323775,5.255516,0.174783,5.738540,16.510303,21.765819,20250.891470,10000.299093
std,21.926846,10.802094,4.538209,4.837715,0.890899,0.009803,0.306399,4.636631,4.972224,2779.427773,0.700023
min,0.000000,0.000000,4.000000,0.000000,0.530491,0.132623,5.000264,1.532587,2.107993,10000.000000,10000.000000
25%,17.000000,10.000000,27.000000,4.000000,4.695575,0.168008,5.566364,15.957921,21.282302,21018.000000,10000.000000
50%,36.000000,18.000000,30.000000,5.000000,5.247027,0.171141,5.843121,17.355016,22.474785,21044.000000,10000.000000
75%,56.000000,28.000000,33.000000,7.000000,5.829421,0.179650,5.952100,18.655545,24.191024,21073.000000,10000.000000
max,74.000000,47.000000,43.000000,41.000000,8.234849,0.199989,7.540183,23.361102,30.638271,23030.000000,10003.000000

#### Steps, steps_try_grab_apple, time, mean_fps, time_deposit, total_time

In [18]:
data_collected_filtered[data_collected_filtered['last_code_grab_overlap'] > 20000].describe()

,episode,amount_collected,steps,steps_try_grab_apple,time,mean_time,mean_fps,time_deposit,total_time,last_code_grab_overlap,last_code_arm_collision
count,2542.000000,2542.000000,2542.000000,2542.000000,2542.000000,2542.000000,2542.000000,2542.000000,2542.000000,2542.000000,2542.000000
mean,36.703383,18.638080,30.429583,6.576711,5.324866,0.174780,5.737967,17.754604,23.079469,21053.258851,10000.180960
std,21.711902,10.886539,4.154574,4.640332,0.828891,0.009638,0.299497,1.806913,2.084657,91.966858,0.573849
min,0.000000,1.000000,13.000000,1.000000,2.020160,0.155397,5.001168,15.150705,18.359108,21001.000000,10000.000000
25%,18.000000,9.000000,27.000000,5.000000,4.761950,0.168091,5.577735,16.259224,21.581109,21025.000000,10000.000000
50%,36.000000,18.000000,30.000000,6.000000,5.305416,0.171160,5.842489,17.539665,22.697363,21049.000000,10000.000000
75%,56.000000,27.000000,34.000000,7.000000,5.863855,0.179284,5.949161,18.766958,24.363945,21075.000000,10000.000000
max,74.000000,47.000000,43.000000,41.000000,8.234849,0.199953,6.435134,23.361102,30.638271,23030.000000,10003.000000

In [19]:
# if reached the step limit
data_collected_filtered[data_collected_filtered['steps'] > 99]

Empty DataFrame
Columns: [episode, amount_collected, steps, steps_try_grab_apple, time, mean_time, mean_fps, time_deposit, total_time, last_code_grab_overlap, last_code_arm_collision, last_drone_collision, last_action, last_state]
Index: []

In [20]:
# Amount of steps to collect the apple
data_collected_filtered[data_collected_filtered['steps'] < 20]['steps'].value_counts()

18    10
19     7
17     7
16     6
14     4
13     3
11     2
10     2
15     2
9      2
7      2
12     1
4      1
8      1
Name: steps, dtype: int64

In [21]:
# Outliers
data_collected_filtered[data_collected_filtered['time'] > 9]

Empty DataFrame
Columns: [episode, amount_collected, steps, steps_try_grab_apple, time, mean_time, mean_fps, time_deposit, total_time, last_code_grab_overlap, last_code_arm_collision, last_drone_collision, last_action, last_state]
Index: []

In [22]:
# FPS too high (maybe some moviment problem)
data_collected_filtered[data_collected_filtered['mean_fps'] > 7]

,episode,amount_collected,steps,steps_try_grab_apple,time,mean_time,mean_fps,time_deposit,total_time,last_code_grab_overlap,last_code_arm_collision,last_drone_collision,last_action,last_state
347,8,9,4,3,0.530491,0.132623,7.540183,1.577502,2.107993,10000,10001,False,"(0.15914596617221832, 0.8009951114654541, -0.1...","{'bbox': [0.6458300948143005, 0.57814788818359..."

In [23]:
# Amount of steps_try_grab_apple
a = data_collected_filtered[data_collected_filtered['last_code_grab_overlap'] > 20000]
a['steps_try_grab_apple'].value_counts()

5     627
6     518
4     409
7     352
8     187
3     132
9      92
2      32
10     31
11     17
1      14
17     11
13      9
35      8
21      8
24      8
19      7
14      7
28      7
20      7
16      6
32      5
38      5
30      4
36      4
22      4
18      4
27      4
12      3
26      3
15      3
25      3
31      2
29      2
23      2
40      2
33      1
41      1
37      1
Name: steps_try_grab_apple, dtype: int64

#### Drone collision

In [24]:
data_collected_filtered[data_collected_filtered['last_drone_collision'] == True]

Empty DataFrame
Columns: [episode, amount_collected, steps, steps_try_grab_apple, time, mean_time, mean_fps, time_deposit, total_time, last_code_grab_overlap, last_code_arm_collision, last_drone_collision, last_action, last_state]
Index: []

In [25]:
data_collected_filtered['last_drone_collision'].value_counts()

False    2755
Name: last_drone_collision, dtype: int64

#### Apples Collected

In [26]:
def print_result_collected(result, is_collected=True):
    print(f'Total: {len(result)}')
    if len(result) > 0:
        if is_collected:
            print(f'Acuracy collected without collision: {(len(result[result["last_code_arm_collision"] == 10000]["last_code_arm_collision"]) / len(result)) * 100}%')
            # Arm collision with BlackAlder (tree)
            print(f'Porcentege collected with 10001: {(len(result[result["last_code_arm_collision"] == 10001]["last_code_arm_collision"]) / len(result)) * 100}%')
            # Arm collision with tefcefala_LOD1_Blueprint (normal apple)
            print(f'Porcentege collected with 10002: {(len(result[result["last_code_arm_collision"] == 10002]["last_code_arm_collision"]) / len(result)) * 100}%')
            # Arm collision with tefcefala_LOD1_obstructed_Blueprint (obstructed apple)
            print(f'Porcentege collected with 10003: {(len(result[result["last_code_arm_collision"] == 10003]["last_code_arm_collision"]) / len(result)) * 100}%')
            print(result['last_code_arm_collision'].value_counts())
        else:
            # Arm collision with BlackAlder (tree)
            print(f'Porcentege not collected because 10001: {(len(result[result["last_code_arm_collision"] == 10001]["last_code_arm_collision"]) / len(result)) * 100}%')
            # Arm collision with tefcefala_LOD1_Blueprint (normal apple)
            print(f'Porcentege not collected because 10002: {(len(result[result["last_code_arm_collision"] == 10002]["last_code_arm_collision"]) / len(result)) * 100}%')
            # Arm collision with tefcefala_LOD1_obstructed_Blueprint (obstructed apple)
            print(f'Porcentege not collected because 10003: {(len(result[result["last_code_arm_collision"] == 10003]["last_code_arm_collision"]) / len(result)) * 100}%')
            print(result['last_code_arm_collision'].value_counts())

In [27]:
result_NR = data_collected_filtered[data_collected_filtered["last_code_grab_overlap"].between(21000, 21999)]
result_NG = data_collected_filtered[data_collected_filtered["last_code_grab_overlap"].between(22000, 22999)]
result_OR = data_collected_filtered[data_collected_filtered["last_code_grab_overlap"].between(23000, 23999)]
result_OG = data_collected_filtered[data_collected_filtered["last_code_grab_overlap"].between(24000, 24999)]

print('#### NR ####')
print_result_collected(result_NR)
print('#### NG ####')
print_result_collected(result_NG)
print('#### OR ####')
print_result_collected(result_OR)
print('#### OG ####')
print_result_collected(result_OG)

#### NR ####
Total: 2537
Acuracy collected without collision: 91.0524241229799%
Porcentege collected with 10001: 0.0%
Porcentege collected with 10002: 8.947575877020103%
Porcentege collected with 10003: 0.0%
10000    2310
10002     227
Name: last_code_arm_collision, dtype: int64
#### NG ####
Total: 0
#### OR ####
Total: 5
Acuracy collected without collision: 20.0%
Porcentege collected with 10001: 60.0%
Porcentege collected with 10002: 0.0%
Porcentege collected with 10003: 20.0%
10001    3
10003    1
10000    1
Name: last_code_arm_collision, dtype: int64
#### OG ####
Total: 0

In [28]:
data_collected_filtered2 = data_collected_filtered[data_collected_filtered['last_code_grab_overlap'] < 20000]
result_fail = data_collected_filtered2[data_collected_filtered2['last_code_arm_collision'] > 10000]
print_result_collected(result_fail, is_collected=False)

Total: 213
Porcentege not collected because 10001: 31.455399061032864%
Porcentege not collected because 10002: 66.19718309859155%
Porcentege not collected because 10003: 2.3474178403755865%
10002    141
10001     67
10003      5
Name: last_code_arm_collision, dtype: int64

In [29]:
# Porcentege of fails when tried to collect NR
p = len(result_fail) / len(data_collected_filtered[data_collected_filtered["last_code_grab_overlap"] >= 21000])
print(f'Fail: {p * 100}%')
print(f'Success: {100 - p * 100}%')

Fail: 8.379228953579858%
Success: 91.62077104642015%